{% extends 'qa/base.html' %}


{% block title %}
Question
{% endblock title %}


{% block content %}
<div class="container" style="margin-top: 30pt">

    <p>
        <h2>{{ question.title }}</h2>
        <i>{{ question.added_at }}</i>
    </p>

    <p>
        {{ question.text }}
        <br>
        <b>&nbsp&nbsp&nbsp - {{ question.author }}</b>
    </p>

    <h4>Answers:</h4>
    <ul>
        {% for answer in question.answer_set.all %}
        <br>
        <li>{{ answer.text }}</li>
        <b>&nbsp&nbsp&nbsp - {{ answer.author }}</b>
        <br>
        {% endfor %}
    </ul>

    <form style="margin: 50pt 0" action="{% url 'question' question.id %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.text.errors }}
            <label for="{{ form.text.id_for_label }}">Your answer:</label>
            <br>
            {{ form.text }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
{% endblock content %}